$font: 'Open Sans Condensed', sans-serif;
$font_body_sp: 0.5px;
$font_title_weight: bold;
$font_title_case: capitalize;
$font_size_1: 28px;
$font_size_2: 23px;
$font_size_3: 18px;
$font_size_4: 16px;
$font_size_5: 14px;
$font_size_6: 10px;
$font-size: $font_size_4;


$color_brand_2: #80b7d1;
$color_brand_1: #c5a585;

$color_mono: #020202;
$color_mono_1: #061f26;
$color_mono_2: #232323;
$color_mono_3: #525252;
$color_mono_4: #8a8a8a;
$color_mono_5: #dcdddf;
$color_mono_6: #f0f0f0;
$color_mono_7: #f7f7f7;
$color_mono_8: #fafafa;

$color_error: #f3bca9;
$color_like: #f7d1e6;

$m0: 4px;
$m1: 8px;
$m2: 16px;
$m3: 24px;
$m4: 32px;
$m5: 40px;
$m6: 48px;
$m7: 56px;
$m8: 64px;
$m9: 72px;


/* common */
body{
  font-family: $font;
  font-size: $font-size;
  margin: 0;
  padding: 0;
}


a:hover{
  text-decoration: none;
}


/* layout */
.w100{
  width: 100%;
}


.mt-3{
  margin-top: $m3;
}

.ptb-2{
  padding-top: $m2;
  padding-bottom: $m2;
}


.plr-1{
  padding-left: $m1; 
  padding-right: $m1; 
}


.justify-content-center{
  margin: 0 auto;
}


.no-gutters {
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}


.action-link{
  color: $color_brand_1;
  font-weight: lighter;
}

.action-link a, .action-link a:hover, .action-link a:focus, .action-link a:link, .action-link a:visited{
  color: $color_brand_1;
}


.like{
  color: $color_mono_5;
}
.like a{
  color: $color_mono_5;
}
.liked{
  color: $color_like;
}
.liked a{
  color: $color_like;
}


.glyphicon{
  visibility: visible;
}


.tooltips{
    position: relative;
    display: inline-block;
}


.tooltips .tooltipstext{
  font-size: $font_size_5;
  font-weight: lighter;
  visibility: hidden;
  color: $color_mono_2;
  width: 120px;
  background-color: $color_mono_6;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 2;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
}

.tooltips:hover .tooltipstext{
  visibility: visible;
}


/* image */
.img-responsive{
  margin: 0 auto;
}


.hidden-md-down{
  visibility: visible;
}

@media screen and (max-width: 767px) {
  .hidden-md-down{
    visibility: hidden;
    height: 0;
  }
}


/* site common header */
.top-header{
  padding: $m2;
  background-color: $color_mono_7;
}


.top{
  margin: 0;
}


.top-logo{
  height: 30px;
  margin-right: $m1; 
}


.top-title{
  font-size: 24px;
  font-weight: $font_title_weight;
  text-transform: $font_title_case;
}

.top-title a{
  color: $color_mono;
}


.top-status{
  float: right;
  padding-top: $m0;
}


.top-sign{
 font-size: $font_size_5;
}


.top-button{
  border:none;
  background-color: $color_mono_7;
}


/* individual blog page */
.blog-row{
  margin: $m4 $m3;
}
 

.newblog-title, .blog-title{
  width: 100%;
  font-weight: bold;
  font-size: $font_size_1;
  color: $color_mono;
  margin-top: $m3;
  padding: 0 $m1;
}


.blog-border{
  margin: 0;
  padding: 0;
  border: 0;
  border-top: 1px solid $color_mono_3;
}


.blog-info{
  font-size: $font_size_5;
  letter-spacing: $font_body_sp; 
  color: $color_mono_4;
  padding: $m1;
  margin: 0;
  float: left;
}

.blog-info a{
  color: $color_brand_1;
}


.blog-like{
  padding: $m1;
  float: right;
  visibility: visible;
}


.blog-content{
  letter-spacing: $font_body_sp;
  color: $color_mono;
  font-size: $font_size_3;
  padding: 0 $m1;
  margin-top: $m1;
}


.blog-comment-prompt{
  color: $color_mono_4;
  font--size: $font_size_5;
  margin-bottom: 0;
  margin-top: $m6;
  padding: 0 $m1;
  border-bottom: solid 1px $color_mono_5;
  width: 100%;
}


.blog-comment{
  height: 48px;
  margin: 0;
}


.blog-comment-submit{
  float: right;
  border: none;
  background-color: #fff;
  color: $color_mono_4;
}

/* blogs main page */
.blogs-field{
  background-color: $color_mono_8;
  height: 100vh;
}


.blogs-row{
  margin: $m1 0;
}

@media screen and (min-width: 900px) {
  .blogs-row{
    margin: $m1 $m3;
  }
}


.blogs{
  position: relative;
  height: 200px;
  margin: $m1;
  padding: $m1;
  background-color: #fff;
  border-radius: 6px;
  border-right: $color_mono_6 1px solid;
  border-bottom: $color_mono_5 2px solid;
}


.blogs-title{
  font-family: $font;
  font-weight: bold;
  font-size: $font_size_2;
  color: $color_mono;
  margin-top: $m3;
  padding: $m1 $m1 0 $m1;
  background-color: #fff;
  border: none;
}


.blogs-border{
  margin: 0;
  padding: 0;
  border: 0;
  border-top: 1px solid $color_mono_3;
}


.blogs-content{
  color: $color_mono_3;
  letter-spacing: $font_body_sp;
  padding: $m2 $m1;
  visibility: visible;
}


.blogs-name{
  font-size: $font_size_5;
  color: $color_mono_4;
  letter-spacing: $font_body_sp; 
  position: absolute;
  bottom: $m1;
  padding: $m1;
}


.blogs-like{
  padding: $m1;
  position: absolute;
  bottom: $m1;
  padding: $m1;
  right: $m1;
}


@media screen and (max-width: 768px) {
  .blogs-field{
    padding: 0;
    background-color: #fff;
  }
  .blogs{
    height: 100px;
    margin: 0;
    border-radius: 0;
    border-bottom: $color_mono_6 1px solid;
  }  
  .blogs-title{
    margin-top: $m1;
    font-size: $font_size_3;
  }
  .blogs-border{
    border-top: none; 
  }
  .blogs-content{
    visibility: hidden;
  }
  .blogs-name{
    bottom: $m2;
  }
}


/* newblog page */
.newblog-title{
  border: none;
}


.newblog-content{
  height: 200px;
}


.newblog-submit{
  border: none;
  background-color: #fff;
  margin-bottom: 0;
}


/* sign up, sign in */
.sign-container{
  background-color: $color_mono_6;
  height: 100vh;
}


.sign-field{
  border-radius: 8px;
  padding: $m2;
  margin: $m2 $m3;
  background-color: #fff;
  text-align: center;
}


.form-field{
  height: $m9;
  position: relative;
}


.form-input{
  margin-top: $m3;
  width: 100%;
  padding: 6px;
  border: 1px solid $color_mono_5;
  border-radius: 4px;
  background-color: #fff; 
}


.sign-action{
  border: none;
  margin-bottom: 0;
  background-color: #fff;
}


.error{
  color: $color_error;
  margin-bottom: 0;
  position: absolute;
  top: 0;
}


/* message page */
.message{
  margin-top: $m4;
  text-align: center;
}

