{% extends "base.html" %}

{% block content %}

<div class="container"><div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <form method="post" class="post-form">
      <div class="error">{{error}}</div>
      <input type="text" name="title" class="newblog-title" 
                placeholder='Title' value="{{title}}">
      <hr class="blog-border">
      <textarea name="content" class="form-input newblog-content" placeholder='Write a post'>{{content}}</textarea>
      <br>
      {% if blog_id %}
        <a href="/blog/{{note_id}}" class="action-link">Cancel</a>
      {% else %}
        <a href="/" class="action-link">Cancel</a>
      {% endif %} | <input type="submit" class="newblog-submit action-link" value="Post">
    </form>
  </div>
</div></div>

{% endblock %}

