/* common */
body {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0; }

a:hover {
  text-decoration: none; }

/* layout */
.w100 {
  width: 100%; }

.mt-3 {
  margin-top: 24px; }

.ptb-2 {
  padding-top: 16px;
  padding-bottom: 16px; }

.plr-1 {
  padding-left: 8px;
  padding-right: 8px; }

.justify-content-center {
  margin: 0 auto; }

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  padding: 0; }

.action-link {
  color: #c5a585;
  font-weight: lighter; }

.action-link a {
  color: #c5a585; }

.action-link a:hover {
  color: #c5a585; }

.action-link a:focus {
  color: #c5a585; }

.action-link a:link {
  color: #c5a585; }

.action-link a:visited {
  color: #c5a585; }

.like {
  color: #dcdddf; }

.like a {
  color: #dcdddf; }

.liked {
  color: #f7d1e6; }

.liked a {
  color: #f7d1e6; }

.glyphicon {
  visibility: visible; }

.tooltips {
  position: relative;
  display: inline-block; }

.tooltips .tooltipstext {
  font-size: 14px;
  font-weight: lighter;
  visibility: hidden;
  color: #232323;
  width: 120px;
  background-color: #f0f0f0;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 2;
  bottom: 125%;
  left: 50%;
  margin-left: -60px; }

.tooltips:hover .tooltipstext {
  visibility: visible; }

/* image */
.img-responsive {
  margin: 0 auto; }

.hidden-md-down {
  visibility: visible; }

@media screen and (max-width: 767px) {
  .hidden-md-down {
    visibility: hidden;
    height: 0; } }

/* site common header */
.top-header {
  padding: 16px;
  background-color: #f7f7f7; }

.top {
  margin: 0; }

.top-logo {
  height: 30px;
  margin-right: 8px; }

.top-title {
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize; }

.top-title a {
  color: #020202; }

.top-status {
  float: right;
  padding-top: 4px; }

.top-sign {
  font-size: 14px; }

.top-button {
  border: none;
  background-color: #f7f7f7; }

/* individual blog page */
.blog-row {
  margin: 32px 24px; }

.newblog-title, .blog-title {
  width: 100%;
  font-weight: bold;
  font-size: 28px;
  color: #020202;
  margin-top: 24px;
  padding: 0 8px; }

.blog-border {
  margin: 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #525252; }

.blog-comment-border {
  margin: 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #8a8a8a; }

.blog-info {
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #8a8a8a;
  padding: 8px;
  margin: 0;
  float: left; }

.blog-info a {
  color: #c5a585; }

.blog-comment-info {
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #232323;
  padding: 0 8px;
  margin: 40px 0 0 0; }

.blog-like {
  padding: 8px;
  float: right;
  visibility: visible; }

.blog-content {
  letter-spacing: 0.5px;
  color: #020202;
  font-size: 18px;
  padding: 0 8px;
  margin-top: 8px; }

.blog-comment-prompt {
  color: #8a8a8a;
  font--size: 14px;
  margin-bottom: 0;
  margin-top: 48px;
  padding: 0 8px;
  border-bottom: solid 1px #dcdddf;
  width: 100%; }

.blog-comment {
  height: 48px;
  margin: 0; }

.blog-comment-submit {
  float: right;
  border: none;
  background-color: #fff;
  color: #8a8a8a; }

/* blogs main page */
.blogs-field {
  background-color: #fafafa;
  height: 100vh; }

.blogs-row {
  margin: 8px 0; }

@media screen and (min-width: 900px) {
  .blogs-row {
    margin: 8px 24px; } }

.blogs {
  position: relative;
  height: 200px;
  margin: 8px;
  padding: 8px;
  background-color: #fff;
  border-radius: 6px;
  border-right: #f0f0f0 1px solid;
  border-bottom: #dcdddf 2px solid; }

.blogs-title {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bold;
  font-size: 23px;
  color: #020202;
  margin-top: 24px;
  padding: 8px 8px 0 8px;
  background-color: #fff;
  border: none; }

.blogs-border {
  margin: 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #525252; }

.blogs-content {
  color: #525252;
  letter-spacing: 0.5px;
  padding: 16px 8px;
  visibility: visible; }

.blogs-name {
  font-size: 14px;
  color: #8a8a8a;
  letter-spacing: 0.5px;
  position: absolute;
  bottom: 8px;
  padding: 8px; }

.blogs-like {
  padding: 8px;
  position: absolute;
  bottom: 8px;
  padding: 8px;
  right: 8px; }

@media screen and (max-width: 768px) {
  .blogs-field {
    padding: 0;
    background-color: #fff; }
  .blogs {
    height: 100px;
    margin: 0;
    border-radius: 0;
    border-bottom: #f0f0f0 1px solid; }
  .blogs-title {
    margin-top: 8px;
    font-size: 18px; }
  .blogs-border {
    border-top: none; }
  .blogs-content {
    visibility: hidden; }
  .blogs-name {
    bottom: 16px; } }

/* newblog page */
.newblog-title {
  border: none; }

.newblog-content {
  height: 200px; }

.newblog-submit {
  border: none;
  background-color: #fff;
  margin-bottom: 0; }

/* sign up, sign in */
.sign-container {
  background-color: #f0f0f0;
  height: 100vh; }

.sign-field {
  border-radius: 8px;
  padding: 16px;
  margin: 16px 24px;
  background-color: #fff;
  text-align: center; }

.form-field {
  height: 72px;
  position: relative; }

.form-input {
  margin-top: 24px;
  width: 100%;
  padding: 6px;
  border: 1px solid #dcdddf;
  border-radius: 4px;
  background-color: #fff; }

.sign-action {
  border: none;
  margin-bottom: 0;
  background-color: #fff; }

.error {
  color: #f3bca9;
  margin-bottom: 0;
  position: absolute;
  top: 0; }

/* message page */
.message {
  margin-top: 32px;
  text-align: center; }
